.tile-container {
  border-radius: 5px;
}
.tile-row {
    margin: 5px 10px;
    box-shadow: 0 0px 4px rgb(0 0 0 / 16%), 0 2px 3px 0px rgb(0 0 0 / 23%);
}
.tile {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 5px 5px;
  height: 80px;
  padding: 5px;
  width: 100%;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mf-name,
.iShares {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.common-logos {
  height: 15px;
}
.basic-tile {
  display: flex;
  justify-content: space-evenly;
}
.icons{
    margin-right: 10px;
}
.detail-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-sub-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.detail-sub-content img {
  margin-right: 10px;
}

.market-value-tile,
.urealized-value-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progress-container {
  margin-top: 10px;
}
.reverse-progress {
  transform: rotate(180deg);
}
.reverse-progress::-webkit-progress-value {
  background: #f20303;
}
progress {
  border: none;
  background: crimson;
  border-radius: 5px;
  width: 100%;
  height: 9px;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: #07c407;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background: rgb(192, 192, 192);
}
