.dashboard-wrapper{
    display: flex;
    /* flex-direction: column; */
}
.tile-container{
    display: grid;
    width: 75%;
}
.chart-container{
    width: 25%;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-container button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    margin: 3px 0px;
}
.chart-wrapper{
    box-shadow: 0 0px 4px rgb(0 0 0 / 16%), 0 2px 3px 0px rgb(0 0 0 / 23%);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
}
.loader-container{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.loader-container img{
    width: 100px;
}